
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/WebArea/Views/Shared/_Layout.cshtml";
}

<div class="row" style="margin-top:150px;">
    <div class="col-lg-12">
        <div class="wrapper wrapper-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="row">
                        <h2>Product list</h2>
                    </div>
                </div>
                <a href="~/WebArea/Admin/AddNewProduct" class="btn btn-success pull-right">Add New</a>
            </div>

            <div class="row">
                <hr />
                <table id="productListTable">
                    <thead>
                        <tr>
                            <th>Product Image</th>
                            <th>Product Name</th>
                            <th>Product Department</th>
                            <th>Product Price</th>
                            <th>Setting</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>



<script>
    $(document).ready(function () {
        GetAllProductList();
    });


    function GetAllProductList() {
        var url = "/WebArea/Admin/GetProductList";
        $.post(url, {}, function (data) {
            data = JSON.parse(data);
            if (data != "0") {
                var tbodyHtml = "";
                for (var i = 0; i < data.length; i++) {
                    var item = data[i];
                    if (item.ImageList.length == 0) {
                        tbodyHtml += '<tr paramID=' + item.ID + '><td><img src="/Image/ProductImages/photo.jpg" class="product_list_image_in_datatable"/></td><td>' + item.Product_Name + '</td><td>' + item.Product_Department + '</td><td>' + item.Product_Price + '</td><td>\
                        <a href="/WebArea/Home/Product/'+ item.ID + '" class="btn btn-success btn-xs"><i class="fa fa-arrow-circle-o-right"></i></a>\
                        <a  href="/WebArea/Admin/UpdateProduct/'+ item.ID + '" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></a>\
                        <a class="btn btn-danger btn-xs" onclick="DeleteProductClick('+ item.ID + ')"><i class="fa fa-remove"></i></a>\
                        </td></tr> ';
                    }

                    else {
                        tbodyHtml += '<tr paramID=' + item.ID + '><td><img src="/Image/ProductImages/' + item.ImageList[0].Guid + item.ImageList[0].Extension + '" class="product_list_image_in_datatable"/></td>\
                        <td>' + item.Product_Name + '</td><td>' + item.Product_Department + '</td><td>' + item.Product_Price + '</td><td>\
                        <a href="/WebArea/Home/Product/'+ item.ID + '" class="btn btn-success btn-xs"><i class="fa fa-arrow-circle-o-right"></i></a>\
                        <a  href="/WebArea/Admin/UpdateProduct/'+ item.ID + '" class="btn btn-warning btn-xs"><i class="fa fa-edit"></i></a>\
                        <a class="btn btn-danger btn-xs" onclick="DeleteProductClick('+ item.ID + ')"><i class="fa fa-remove"></i></a>\
                        </td></tr> ';

                    }
                }

                $("#productListTable tbody").html(tbodyHtml);
                $("#productListTable").dataTable();
            }

            else
            {
                location.replace("http://localhost:50083/WebArea/Home/Index");
            }

        });
    }

    function DeleteProductClick(id) {
        if (confirm("Are you sure to delete ?")) {
            var url = "/WebArea/Admin/DeleteProduct";
            $.post(url, { id: id }, function (data) {
                GetAllProductList();
            });
        }
    }
</script>
